.quizMaster_answerCorrect {
    background: #6DB46D;
    font-weight: bold;
}

.quizMaster_answerCorrect label {
    font-weight: bold;
}

.quizMaster_answerIncorrect {
    background: #FF9191;
    font-weight: bold;
}

.quizMaster_content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quizMaster_content h2 {
    margin-bottom: 10px;
}

* + html .quizMaster_button, * + html .quizMaster_button:hover {
    padding: 3px 0;
}

.quizMaster_button, .quizMaster_button:hover {
    margin: 0;
    padding: 5px 10px;
    background: #13455B;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    border: 1px solid #13455B;
    box-shadow: 1px 1px 1px #333;
    text-shadow: none;
    filter: none;
    float: none;
}

.quizMaster_question_page {
    margin-bottom: 10px;
}

.quizMaster_question_page span {
    font-weight: bold;
}

.quizMaster_questionListItem:last-child, .quizMaster_questionListItemLastChildIE {
    padding: 3px;
    margin-bottom: 0;
}

.quizMaster_questionListItem {
    padding: 3px;
    margin-bottom: 5px;
    background-image: none;
    margin-left: 0;
    list-style: none;
    border: 0;
}

.quizMaster_questionListItem > table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
}

.quizMaster_questionListItem > table .alt {
    background: inherit;
}

.quizMaster_questionListItem > table td {
    text-align: left;
}

.quizMaster_list, .quizMaster_listItem, .quizMaster_questionList, .quizMaster_sortStringList, .quizMaster_sortStringList, .quizMaster_maxtrixSortCriterion, .quizMaster_resultsList, .quizMaster_catOverview ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quizMaster_list {
    border: 0;
}

.quizMaster_questionList {
    margin-bottom: 10px;
    background: #F8FAF5;
    border: 1px solid #C3D1A3;
    padding: 5px;
    list-style: none;
}

.quizMaster_listItem {
    position: relative;
    border: 0;
    background-image: none;
}

.quizMaster_response {
    background: #F8FAF5;
    border: 1px solid #C4C4C4;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px #AAA;
}

.quizMaster_response span {
    font-weight: bold;
}

.quizMaster_sort {
    width: 25px;
}

.quizMaster_results h3 {
    margin-bottom: 10px;
}

.quizMaster_sort_correct_answer {
    font-weight: bold;
    margin-right: 5px;
    display: none;
}

.quizMaster_sortable, .quizMaster_sortStringItem {
    padding: 5px;
    border: 1px solid lightGrey;
    box-shadow: 2px 2px 1px #EEE;
    background-color: #F8FAF5;
    cursor: move;
}

.quizMaster_time_limit .time {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.quizMaster_time_limit .quizMaster_progress {
    height: 10px;
    background-color: blue;
    margin-bottom: 5px;
}

.quizMaster_time_limit_expired {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.quizMaster_question_text {
    margin-bottom: 10px;
}

.quizMaster_tipp > div {
    padding: 10px;
    background-color: #DDECFF;
    border: 1px dotted #363636;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 2px 2px 5px 0 #313131;
    z-index: 99999;
}

.quizMaster_matrixSortString, .quizMaster_matrixSortString > h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

.quizMaster_matrixSortString {
    background: #F8FAF5;
    border: 1px solid #C3D1A3;
    padding: 5px;
}

.quizMaster_sortStringList {
    padding: 10px;
    border: 0;
}

.quizMaster_sortStringList > li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.quizMaster_sortStringItem {
    margin: 0;
    background-image: none;
    list-style: none;
}

.quizMaster_maxtrixSortCriterion {
    padding: 5px;
}

.quizMaster_placehold {
    background-color: #FFFFC2;
    list-style: none;
    background-image: none;
    padding: 5px;
    height: 30px;
    min-width: 50px;
    margin: 0;
}

.quizMaster_maxtrixSortText {
    padding: 5px;
}

.quizMaster_mextrixTr > td {
    border: 1px solid #D1D1D1;
    padding: 5px;
    vertical-align: middle;
}

.quizMaster_points {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.quizMaster_cloze input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    height: 18px;
    margin: 0;
    padding: 0 4px 0 4px;
    color: black;
    border-radius: 0;
    box-shadow: 0 0;
}

.quizMaster_cloze input:focus {
    outline: none;
}

.quizMaster_questionListItem input, .quizMaster_questionListItem label {
    margin: 0;
    font-weight: normal;
    display: inline;
}

.quizMaster_questionListItem label {
    float: none;
}

.quizMaster_questionListItem input {
    float: none;
    display: inline;
}

.quizMaster_resultsList {
    border: 0;
}

.quizMaster_resultsList > li {
    background-image: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
}

.quizMaster_lock, .quizMaster_prerequisite, .quizMaster_startOnlyRegisteredUser, .quizMaster_loadQuiz {
    border: 1px dotted #FFC3C3;
    background-color: #FFF7F7;
}

.quizMaster_lock p, .quizMaster_prerequisite p, .quizMaster_startOnlyRegisteredUser p, .quizMaster_loadQuiz p {
    margin: 20px;
    font-weight: bold;
}

.quizMaster_toplistTable {
    width: 100%;
    border: 1px solid #C3D1A3;
    border-collapse: collapse;
    margin: 0;
}

.quizMaster_toplistTable caption {
    caption-side: top;
    text-align: right;
    padding-bottom: 2px;
    color: gray;
    margin: 0;
    font-size: 11px;
}

.quizMaster_toplistTable thead tr {
    background: rgb(155, 187, 89);
    padding: 5px;
    color: white;
    font-weight: bold;
}

.quizMaster_toplistTable tbody td:FIRST-CHILD {
    font-weight: bold;
}

.quizMaster_toplistTable td, .quizMaster_toplistTable th {
    padding: 5px;
    text-align: center;
    border: 0;
}

.quizMaster_toplistTable th {
    background: #9BBB59;
}

.quizMaster_toplistTrOdd {
    background-color: #EBF1DE;
}

.quizMaster_addToplist {
    margin-top: 10px;
    background-color: #F5FAEA;
    padding: 10px;
    border: 1px solid #C3D1A3;
}

.quizMaster_addToplistMessage {
    border: 1px solid rgb(160, 160, 160);
    background-color: #FCFFB3;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: dimGray;
}

.quizMaster_resultTable {
    margin: 15px auto;
    width: 400px;
    border: 1px solid #C4C4C4;
    padding: 15px;
    font-weight: bold;
}

.quizMaster_resultTable table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 0;
    text-align: left;
}

.quizMaster_resultTable table td {
    text-align: left;
}

.quizMaster_resultTable .alt {
    background: inherit;
}

.quizMaster_resultName {
    width: 100px;
    border-right: 1px solid rgb(134, 134, 134);
    padding: 10px 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.quizMaster_resultValue {
    padding: 0;
    border: 0;
}

.quizMaster_resultValue div {
    color: black;
    text-align: right;
    box-shadow: 1px 1px 3px 1px #C4C4C4;
    display: inline-block;
    height: 18px;
    zoom: 1;
    *display: inline;
    margin-right: 3px;
    vertical-align: middle;
}

.quizMaster_addBox label {
    display: inline;
}

.quizMaster_addBox input[type="text"] {
    margin: 0;
}

.quizMaster_reviewQuestion {
    max-height: 100px;
    overflow: hidden;
    border: 1px solid #C3D1A3;
    background-color: #F8FAF5;
    position: relative;
}

.quizMaster_box {
    border: 1px solid #C3D1A3;
    background-color: #F8FAF5;
}

.quizMaster_checkPage h3 {
    margin: 10px 0 10px 0;
}

.quizMaster_reviewQuestion ol, .quizMaster_checkPage ol {
    list-style-type: none;
    margin: 0;
    padding: 5px 12px 0 5px;
    zoom: 1;
    position: relative;
    border: 0;
}

.quizMaster_reviewQuestion ol:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.quizMaster_reviewQuestionTarget {
    font-weight: bold;
    border-color: #7DB1D3;
    box-shadow: 0 0 2px 1px #C4C4C4;
}

.quizMaster_reviewQuestion li, .quizMaster_checkPage li {
    float: left;
    margin: 0 5px 5px 0;
    border: 1px solid #CFCFCF;
    padding: 5px 0 5px 0;
    width: 30px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    background-image: none;
}

.quizMaster_reviewQuestion div {
    position: absolute;
    right: 0;
    background-color: #B8B8B8;
    top: 0;
    height: 20px;
    width: 10px;
    border: 0;
    border-radius: 10px;
    cursor: move;
}

.quizMaster_reviewLegend {
    padding: 5px;
    margin-bottom: 8px;
}

.quizMaster_reviewLegend ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.quizMaster_reviewLegend li {
    float: left;
    padding-right: 5px;
    list-style-type: none;
    margin: 0;
    border: 0;
    background-image: none;
}

.quizMaster_reviewColor {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 2px;
}

.quizMaster_button2 {
    border: 1px solid #DADADA;
    background: whiteSmoke;
    color: #303030;
    border-radius: 4px;
    padding: 3px 5px;
    box-shadow: 1px 1px 1px #A7A7A7;
    text-shadow: none;
    filter: none;
    margin: 0;
    font-weight: normal;
}

.quizMaster_button2:hover {
    background: #EBEBEB;
}

.quizMaster_reviewDiv {
    margin: 20px 0 20px 0;
}

.quizMaster_header {
    margin: 0;
}

.quizMaster_catOverview {
    margin-top: 10px;
    margin-bottom: 20px;
}

.quizMaster_catOverview li {
    list-style: none;
    padding: 0;
    clear: left;
    border-bottom: 1px dashed #aaa;
    height: 1.05em;
    margin: 10px 0 0 0;
    position: relative;
}

.quizMaster_catOverview span {
    background: #fff;
    padding: 0 3px 0 0;
    float: left;
    position: absolute;
    text-decoration: none;
}

span.quizMaster_catPercent {
    font-weight: bold;
    padding-left: 5px;
    color: #000;
    right: 0;
}

.quizMaster_forms {
    margin: 20px 0 20px 0;
}

.quizMaster_required {
    color: #F00;
    font-weight: bold;
}

.quizMaster_invalidate {
    border: 1px solid #FFCFCF;
    background: #FFEBE8;
    padding: 4px;
    margin: 4px 0 4px 0;
    display: none;
}

.quizMaster_forms table {
    width: auto;
    border-collapse: separate;
    border-spacing: 2px;
    border: 0;
    text-align: left;
}

.quizMaster_forms table .alt {
    background: inherit;
}

.quizMaster_forms table td {
    text-align: left;
}

.quizMaster_forms td {
    vertical-align: top;
    padding: 0 0 8px 0;
    margin: 0;
    border: 0;
    background: none;
}

.quizMaster_forms input, .quizMaster_forms textarea, .quizMaster_forms label, .quizMaster_forms select {
    margin: 0;
    float: none;
    display: inline;
}

.quizMaster_forms select {
    width: auto;
}

.quizMaster_resultForm {
    display: none;
}

.quizMaster_quiz input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

.quizMaster_quiz input[type="radio"] {
    -webkit-appearance: radio;
}

.quizmaster {

}
.quizmaster h1 {
  font-size: 33px;
}
.quizmaster h1,
.quizmaster h2,
.quizmaster h3 {
  margin-top: 18px;
  margin-bottom: 9px;
}
.quizmaster h1,
.quizmaster h2,
.quizmaster h3,
.quizmaster h4,
.quizmaster h5,
.quizmaster h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

/* TABLES */
.quizmaster-wrap .quizmaster-table {
	font-size: 0.8rem;
	margin: 20px 0;
}
.quizmaster-wrap .quizmaster-table th {
	cursor: pointer;
}
.quizmaster-wrap .quizmaster-table label {
	font-size: 0.8rem;
}
.quizmaster-wrap .quizmaster-table td a,
.quizmaster-wrap .quizmaster-table td a:hover {
	text-decoration: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.quizmaster-wrap .quizmaster-table td a:hover {
	box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: bold;
}

.quizmaster-wrap .dataTables_wrapper select {
	padding: 3px;
	margin: 10px 4px;
	height: auto;
	font-size: 0.75rem;
}
.quizmaster-wrap .dataTables_wrapper .dataTables_length {
	font-size: 0.75rem;
	float: right;
}
.quizmaster-wrap .dataTables_wrapper .dataTables_length label {
	font-weight: normal;
}
.quizmaster-wrap .dataTables_info {
	font-size: 0.75rem;
}
.quizmaster-wrap .dataTables_paginate {
	font-size: 0.75rem;
}
.quizmaster-wrap .dataTables_paginate a,
.quizmaster-wrap .dataTables_paginate a:hover {
	box-shadow: none;
	background: #dcdcdc;
}

.quizmaster-wrap table.dataTable thead th,
.quizmaster-wrap table.dataTable tbody td {
  padding: 8px 10px;
}
.quizmaster-info-table thead {
  display:none;
}

.quizmaster-score-return-button {
	margin-top: 20px;
}
.quizmaster-score-return-button button a {
	color: #888;
}

/* Basic grid system based on http://j4n.co/blog/Creating-your-own-css-grid-system */
.quizmaster-container {
  width : 100%;
  max-width : 1200px;
  box-sizing: border-box;
	padding: 0 15px;
}
.quizmaster-container.fullwidth {
  max-width : 100%;
}
.quizmaster-row {
  width : 100%;
  max-width : 1200px;
	margin: 0 -15px;
}
.quizmaster-row:before,
.quizmaster-row:after {
  content:"";
  display: table ;
  clear:both;
}
[class*='quizmaster-col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
  padding: 0 15px;
}
.quizmaster-col-1 {
  width: 8.33%;
}
.quizmaster-col-2 {
  width: 16.66%;
}
.quizmaster-col-3 {
  width: 50%;
}
.quizmaster-col-4 {
  width: 33.33%;
}
.quizmaster-col-5 {
  width: 41.66%;
}
.quizmaster-col-6 {
  width: 50%;
}
.quizmaster-col-7 {
  width: 58.33%;
}
.quizmaster-col-8 {
  width: 66.66%;
}
.quizmaster-col-9 {
  width: 75%;
}
.quizmaster-col-10 {
  width: 83.33%;
}
.quizmaster-col-11 {
  width: 91.66%;
}
.quizmaster-col-12 {
  width: 100%;
}
